# # Logs
# logs
# *.log
# npm-debug.log*
# yarn-debug.log*
# yarn-error.log*
# pnpm-debug.log*
# lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


#non auth folders 
api/
contacts/
dashboard/
drive/
layouts/
logs/
messages/
settings/
modules/
notes/
sidebar/
time-bombs/
assets/
public/

template2.yaml
notes.txt
amplify_outputs.js
/components/template.yaml
/components/package.json 